---
http_interactions:
- request:
    method: get
    uri: https://www.tibia.com/library/?race=elf&subtopic=creatures
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
      X-Content-Security-Policy:
      - frame-ancestors 'self';script-src *.tibia.com *.cipsoft.com *.cipsoft.de https://connect.facebook.net
        https://facebook.com https://www.youtube.com https://platform.twitter.com
        https://www.google.com https://s.ytimg.com https://www.gstatic.com  https://www.googletagmanager.com
        https://googleads.g.doubleclick.net 'self' 'unsafe-inline';
      X-Webkit-Csp:
      - frame-ancestors 'self';script-src *.tibia.com *.cipsoft.com *.cipsoft.de https://connect.facebook.net
        https://facebook.com https://www.youtube.com https://platform.twitter.com
        https://www.google.com https://s.ytimg.com https://www.gstatic.com  https://www.googletagmanager.com
        https://googleads.g.doubleclick.net 'self' 'unsafe-inline';
    body:
      encoding: ASCII-8BIT
      string: "\n<!DOCTYPE html>\n<html>\n<head>\n<title>Tibia - Free Multiplayer
        Online Role Playing Game - Library</title>\n<meta http-equiv=\"content-type\"
        content=\"text/html; charset=ISO-8859-1\" /> <meta name=\"description\" content=\"Tibia
        is a free massively multiplayer online role-playing game (MMORPG). Join this
        fascinating game that has thousands of fans from all over the world! - http://www.tibia.com\"
        />\n<meta name=\"author\" content=\"CipSoft GmbH\" />\n<meta http-equiv=\"content-language\"
        content=\"en\" />\n<meta name=\"keywords\" content=\"free online game, free
    [...]
